html, body {
	height: 100%;
	margin: 0;
}

.d-flex-wrapper {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
}

.content {
	flex: 1;
}

a {
	color: inherit;
	text-decoration: none;
	cursor: pointer;
}

.LoginJoin:hover {
	text-decoration: underline;
}

.col {
	margin-top: 40px;
	border-bottom: solid;
	font-family: sans-serif;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	overflow: auto; /* 부모 페이지에 스크롤을 허용합니다 */
}

iframe {
	width: 100%;
	border: none;
	overflow: auto; /* iframe에 스크롤을 허용합니다 */
}

